@charset "ISO-8859-1";
* {
	margin: 0px;
	padding: 0px;
}

.longer {
	width: 60%;
}

.poster {
	font-size: 120%;
}
.postM {
	background-color: Gainsboro;
	padding: 1%;
}

#logout {
	float: right;
	margin-top: 1%;
}
#edit {
	float: right;
}
#delete {
	float: right;
}

#post {
	border-style: solid;
	margin: 1%;
	padding: 1%;
}